
.welcome-content img{
    transition: .6s;
}
.welcome-content:hover img{
    transform: scale(1.3);
}
.section-heading{
    text-align: center;
}
.section-heading h2{
    font-size: 40px;
    font-weight: 700;
    color: brown;
}
.section-heading p{
    font-size: 18px;
    color: #1e3799;
    letter-spacing: 3px;
}


@media (max-width: 768px) {
    .section-heading h2{
        font-size: 30px;
    }
    .section-heading p{
        font-size: 16px;
        letter-spacing: 2px;
    }
}