body{
    font-family: 'Poppins', sans-serif;
}
.logo-area{
    width: 150px;
}

.menu-items a{
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(75, 74, 74);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: brown;
}