body{
    font-family: 'Poppins', sans-serif;
}
.logo-area{
    width: 150px;
}

.menu-items a{
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(75, 74, 74);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: brown;
}
.profile-icon{
    width: 30px;
    border-radius: 50%;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -100%;
    margin-top: .125rem;
}
.dropdown-menu a:hover{
    background: transparent;
}